*{
    margin:0;
    padding:0;
}

body {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #2575fc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 20rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}


h1 {
    margin-bottom: 4rem;
    font-size: 2rem;
}

h2 {
    font-weight: 400;
}

form {
    margin-top: 3rem;

}

label {
    font-size: 2rem;
    text-align: center;
}

input{
    padding: 1rem;
    width: 7rem;
    border-radius: 8px;
    margin-left: 2rem;
    text-align: center;
    border-color: black;
}

button {
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    margin-left: 0.5rem;
    background: white;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    
}

button:hover {
    background: white;

}

#enviar {
    margin-left: 10px;
    text-align: center;
}
