/* Selectores*/


/* Selector Elemento*/

    h3 {
        font-size: 25px;
        color: green;
    }

    /* Selector por ID */

    #testimonios {
                font-size: 30px;
                color: aqua;
    }

    /* Selector Genéricos (Se decara en HTML por ejemplo con <h1 class=.general></h1>)*/

    .general {
            font-size: 28px;
            color: brown;
    }

    /* Selector Universal (*) */

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción a CSS</title>
    <style>
    * {
        color: green;
    }
    footer ¨{
        color 
    }
    </style>
</head>